/* CSS for Prayers */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    width: 100%;
    word-wrap: break-word; /* Prevent content resizing for long strings. */
}

#body-wrapper {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 3.2em;
    line-height: 1.25em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.8em
}

p, ol, ul {
    font-size: 1.8em;
    line-height: 1.3em;
}

ol, ul {
    margin-left: 1em;
}

blockquote {
    font-style: italic;
    color: #777;
}
